name: Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
  workflow_run:
    workflows: ["Auto Release"]
    types:
      - completed

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - run: echo "release workflow syntax sanity"
